---
http_interactions:
- request:
    method: get
    uri: http://rss.cnn.com/rss/cnn_us.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Etag:
      - WEkl1gQXJ7b9RxMFGUFOEMk2z1k
      Last-Modified:
      - Thu, 19 Jul 2012 06:32:41 GMT
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<?xml-stylesheet type=\"text/xsl\"
        media=\"screen\" href=\"/~d/styles/rss2full.xsl\"?><?xml-stylesheet type=\"text/css\"
        media=\"screen\" href=\"http://rss.cnn.com/~d/styles/itemcontent.css\"?><rss
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns:feedburner=\"http://rssnamespace.org/feedburner/ext/1.0\"
        version=\"2.0\">\r\n<channel>\r\n<title>CNN.com - U.S.</title>\r\n<link>http://www.cnn.com/US/index.html?eref=rss_us</link>\r\n<description>CNN.com
        delivers up-to-the-minute news and information on the latest top stories,
        weather, entertainment, politics and more.</description>\r\n<language>en-US</language>\r\n<copyright>Copyright
        2012 Cable News Network LP, LLLP.</copyright>\r\n<pubDate>Thu, 19 Jul 2012
        02:32:41 EDT</pubDate>\r\n<ttl>10</ttl>\r\n<image>\r\n<title>CNN.com - U.S.</title>\r\n<link>http://www.cnn.com/US/index.html?eref=rss_us</link>\r\n<url>http://i.cdn.turner.com/cnn/.e/img/1.0/logo/cnn.logo.rss.gif</url>\r\n<width>144</width>\r\n<height>33</height>\r\n<description>CNN.com
        delivers up-to-the-minute news and information on the latest top stories,
        weather, entertainment, politics and more.</description>\r\n</image>\r\n<atom10:link
        xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"self\" type=\"application/rss+xml\"
        href=\"http://rss.cnn.com/rss/cnn_us\" /><feedburner:info uri=\"rss/cnn_us\"
        /><atom10:link xmlns:atom10=\"http://www.w3.org/2005/Atom\" rel=\"hub\" href=\"http://pubsubhubbub.appspot.com/\"
        /><item>\r\n<title> Americans multitask with phones, TV</title>\r\n<guid isPermaLink=\"false\">http://www.cnn.com/2012/07/18/tech/mobile/americans-mobile-phones-tv-mashable/index.html</guid>\r\n<link>http://rss.cnn.com/~r/rss/cnn_us/~3/78G85QuTtFk/index.html</link>\r\n<description>Thanks
        to the growth of smartphone adoption, about half of U.S. mobile phone owners
        use their devices while watching TV, a new study suggests.&lt;div class=\"feedflare\"&gt;\r\n&lt;a
        href=\"http://rss.cnn.com/~ff/rss/cnn_us?a=78G85QuTtFk:L0RH7Ydj9AM:yIl2AUoC8zA\"&gt;[...]
